li {float: left; list-style: none; text-decoration: none}

a{text-decoration: none; color: #d5dd60; display: block; height: 100%;; -webkit-transform: skewX(30deg);; transform: skewX(30deg); display: block}
li {display: inline-block}

.p1 {width: 90px; height: 30px; border: 1px solid black; -webkit-transform: skewX(-30deg); transform: skewX(-30deg); text-align: center; background: #103159; margin-right: 7px; line-height: 30px}
.p2 {width: 180px; height: 30px; border: 1px solid black; -webkit-transform: skewX(-30deg); transform: skewX(-30deg); text-align: center; background: #103159; margin-right: 7px; line-height: 30px}
.p3 {width: 160px; height: 30px; border: 1px solid black; -webkit-transform: skewX(-30deg); transform: skewX(-30deg); text-align: center; background: #103159; margin-right: 7px; line-height: 30px}
.p4 {width: 80px; height: 30px; border: 1px solid black; -webkit-transform: skewX(-30deg); transform: skewX(-30deg); text-align: center; background: #103159; margin-right: 7px; line-height: 30px}
.p5 {width: 100px; height: 30px; border: 1px solid black; -webkit-transform: skewX(-30deg); transform: skewX(-30deg); text-align: center; background: #103159; line-height: 30px}
.p1:hover {background: black}
.p2:hover {background: black}
.p3:hover {background: black}
.p4:hover {background: black}
.p5:hover {background: black}
.vse {margin: 0 auto; width: 700px}
